
body {
    background-color:lightgray;
}    

.dropbtn {
  background-color: slategrey;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropup {
  position: relative;
  display: inline-block;
}

.dropup-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 120px;
  bottom: 50px;
  z-index: 1;
}

.dropup-content button {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  width:120px;
 
}

.dropup-content a:hover {background-color: #ccc}

.dropup:hover .dropup-content {
  display: block;
}

.dropup:hover .dropbtn {
  background-color: darkslategray;
}

        .dropdown-cls {
    border-color: black;
     width:200px;
    height:25px
        }

.tooltip {
  position: relative;
  display: inline-block;
  color:blue;
  animation:alternate-reverse;
 
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/*thumbs up/down*/
.fa {
font-size:20px;
  cursor: pointer;
  user-select: none;
}

.fa:hover {
  color: darkblue;
  cursor:help;
}

.topnav {
  overflow: hidden;
  background-color: #808c8a;
  
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #12abc7;
  color: white;
}

   